services:
  - type: web
    name: flowerama-backend
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: PLANNED_XLSX
        value: ./VD2026.xlsx










